@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#0011A9, #0011a952);
  border-radius: 10px;
}


body {
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
  /*Position: absolute;
  Top: 50%;
  Left: 50%;
  Transform: translate(-50%, -50%);*/
}

:root{
  --destaque: #0011A9;
  --texto: #F6F6F6;
  --footer: #000000;

  --tex:'Montserrat', sans-serif;
  --titulo: 'Krona One', sans-serif;
}

.titulo-destaque {
  color: var(--destaque);
}

.apresentacao {
  margin: 10% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: var(--titulo);
  text-align: left;
  width: 593px;
}

.apresentacao__conteudo__texto{
  font-size: 24px;
  letter-spacing: 1px;
  text-align: justify;
  font-family: var(--tex);
  font-weight: 500;
}

.apresentacao__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao__links__subtitulo{
  font-family: var(--titulo);
  font-size: 24px;
  font-weight:normal;
  line-height: 40px;
}

.apresentacao__links__link{
  /*background-color: #0f768d; (or ctrl+lk+c)*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 3.5px solid var(--destaque);
  width: 378px;
  border-radius: 8px;
  font-size: 24px;
  text-decoration: none;
  padding: 18.5px 0;
  color: var(--texto);
  font-family: var(--tex), sans-serif;
  font-weight: 600;
}

.profile{
  width: 70%;
  height: 570px;
  padding-left: 60px;
}

.apresentacao__links__link:hover{
  background-color: #0011a952;
  transition: .8s;
}

footer{
  background: linear-gradient(#0011A9, #0011a9bb);
  height: 65px;
}

.rodape{
  color: var(--texto);
  padding-top: 25px;
  margin-left: 40%;
  font-family: var(--tex);
}